html{
    height: 100%;
}
body{
    height: 100%;
    overflow: hidden;
}
#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    perspective: 800px;
    transition: 1s;
}
canvas{
    display: block;
}
#main{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transform-style: preserve-3d;
    transform: translateZ(-2000px) rotateX(0deg) rotateY(0deg);
}
#main li{
    position: absolute;
    top: -80px;
    left: -60px;
    width: 120px;
    height: 160px;
    background: rgba(0,127,127,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    cursor: pointer;
    transform: translateZ(0px);
    transition: transform 4s;
}
#main li:hover{
    border: 1px solid rgba(127,255,255,0.75);
    box-shadow: 0 0 12px rgba(0,255,255,0.75);
}
#stylebtn{
    position: absolute;
    left: 20px;
    bottom: 20px;
    /*transition: 1s;*/
    animation: play1 1s;
}
#stylebtn li{
    display: inline-block;
    width: 59px;
    height: 34px;
    border: 1px solid rgba(127,255,255,0.75);
    border-radius: 3px;
    color: rgba(127,255,255,0.75);
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
#stylebtn li:hover{
    background: rgba(0,255,255,0.5);
}
@keyframes play1 {
    from{
        transform: scale(1.5);
        opacity: 0.2;
    }to{
        transform: scale(1);
        opacity: 1;
    }
}
/*每个小盒子里面*/
#main li p.title{
    font-size:20px;
    color:rgba(255,255,255,0.7);
    margin-top:5px;
    font-weight: bold;
    text-shadow:0 0 20px rgba(0,255,255,0.5);
    text-align: center;
}
#wrap #show{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    background:rgba(0,127,127,0.5);
    border:1px solid rgba(127,255,255,0.25);
    box-shadow:0 0 12px rgba(0,255,255,0.5);
    border-radius:3px;
    transform:rotateY(0deg) scale(1.5);
    display:none;
    transition:transform 1s;
}
#wrap #show h3{
    width: 80%;
    height: 20%;
    margin: 5% auto;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(127,255,255,0.25);
    box-shadow:0 0 12px rgba(0,255,255,0.5);
    border-radius:3px;
}
#wrap #show p.s-describe{
    width: 90%;
    height: 50%;
    margin: 5% auto;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(127,255,255,0.25);
    box-shadow:0 0 12px rgba(0,255,255,0.5);
    border-radius:3px;
}
/*iframe*/
#frame{
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: 1s;
}
#frame iframe{
    width: 100%;
    height: 100%;
}
#frame .f-btn{
    position:absolute;
    bottom:15px;
    left:15px;
    color:rgba(127,255,255,0.75);
    border:1px solid rgba(127,255,255,0.75);
    font-size:12px;
    font-weight:bold;
    padding:8px 12px;
    margin:0 5px;
    cursor:pointer;
    border-radius:3px;
}
#frame .f-btn:hover{
    background:rgba(0,255,255,0.5);
}
